// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
$v-font-size: 12px;
$v-font-weight: 400;
//$v-font-family: "Open Sans", sans-serif;
//$v-background-color: #EEE;

/* Import the base theme.*/
// @import "../reindeer/reindeer.scss";
//noinspection CssUnknownTarget
@import "../valo/valo.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin evento {

  /* Include all the styles from the imported theme */
  @include valo;

  /* Insert your theme rules here */
  .v-menubar-mainmenu {
    background: yellow;
    font-family: "Lucida Sans", Georgia, Serif;
    font-size: large;
    border: 5px solid white;
  }
  .mymenubar {
    color: white;
    background: #0B6CFF;
    font-family: Arial;
    font-size: 24px;
    font-heith: 80px;
    font-weight: bold;
    border: 5px solid white;
    height: 44px;
  }
  .mybutton {
    color: white;
    background: #0B6CFF;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    height: 44px;
  }
  .toolbar {
    background: #D8D8D8;
  }

  .yellowBg {
    background: #FFFF99;
  }

  .greenBg {
    background: #7FCA9F;
  }

  .blueBg {
    background: #94DAF0;
  }

  .pinkBg {
    background: #FF9999;
  }

  .redBg {
    background: #F0311E;
  }

  .darkGrayBg {
    background: #5d5d5d;
  }

  .lightGrayBg {
    background: lightgray;
  }

  .red {
    color: red;
  }

  .darkblue {
    color: darkblue;
  }

  .v-textfield-align-left {
    text-align: left;
  }

  .v-textfield-align-center {
    text-align: center;
  }

  .v-textfield-align-right {
    text-align: right;
  }

  .error-screen-msg {
    font-size: 18px;
    color: red
  }

  .v-menubar .v-menubar-menuitem-highlight {
    color: white;
    background: #6282A3;
  }

  .v-menubar-submenu .v-menubar-menuitem-highlight {
    color: white;
    background: #6282A3;
  }

  .loginbutton {
    font-size: 20px;
    font-weight: bold;
    height: 2em;
    min-width: 6em;
  }

  .redbold {
    color: red;
    font-weight: bold;
  }

  .hrule {
    height: 0;
    max-height: 0;
  }

  .infoBarTitle {
    font-size: 14px;
    font-weight: bold;
  }

  .infoBarSegment {
    font-size: 18px;
    font-weight: bold;
  }

  .redGradientBg {
    background: red;
    background: -webkit-linear-gradient(top, darkred, red);
    background: -moz-linear-gradient(top, darkred, red);
    background: -o-linear-gradient(top, darkred, red);
    background: linear-gradient(top, darkred, red);
  }

  .orangeGradientBg {
    background: orange;
    background: -webkit-linear-gradient(top, darkorange, orange);
    background: -moz-linear-gradient(top, darkorange, orange);
    background: -o-linear-gradient(top, darkorange, orange);
    background: linear-gradient(top, darkorange, orange);
  }

  .goldenGradientBg {
    background: goldenrod;
    background: -webkit-linear-gradient(top, darkgoldenrod, goldenrod);
    background: -moz-linear-gradient(top, darkgoldenrod, goldenrod);
    background: -o-linear-gradient(top, darkgoldenrod, goldenrod);
    background: linear-gradient(top, darkgoldenrod, goldenrod);
  }

  .greenGradientBg {
    background: green;
    background: -webkit-linear-gradient(top, darkgreen, green);
    background: -moz-linear-gradient(top, darkgreen, green);
    background: -o-linear-gradient(top, darkgreen, green);
    background: linear-gradient(top, darkgreen, green);
  }

  .label-middle {
    font-size: 1.2em;
  }

  .label-big {
    font-size: 1.6em;
    font-weight: bold;
  }

  .text-85 {
    font-size: 0.85em;
  }


}
